body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #333;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px; /* Ajustez la marge intérieure selon vos besoins */
}

.menu a:hover {
    background-color: #555; /* Couleur d'arrière-plan au survol */
}

.menu-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.menu-list li {
    margin-right: 10px;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}

.menu a:visited {
    color: white; /* Couleur pour les liens visités */
}



.box {
    border: 1px solid #ccc; /* Bordure grise */
    padding: 20px; /* Espacement intérieur de la boîte */
    border-radius: 8px; /* Coins arrondis */
    width: 300px; /* Largeur de la boîte */
    margin: 20px auto; /* Centrage horizontal avec une marge autour de la boîte */
    background-color: #f9f9f9; /* Couleur de fond */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.box h1 {
    text-align: center; /* Centre le titre à l'intérieur de la boîte */

}